html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    font-family: 'arial', sans-serif;
    font-size: 12px;
    color: #141823;
    z-index: 1;
  }
  
  h2 {
    font-size: 20px;
  }
  
  h3 {
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    color: #8a2385;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .stopwatch {
    text-align: center;
  }
  
  .stopwatch__display {
    font-family: 'arial', monospace;
    font-size: 30px;
  }
  
  .stopwatch__history {
    margin-top: 15px;
  }
  
  ul {
    margin-top: 10px;
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 5px;
    border-bottom: 1px solid #141823;
  }
  
  li:hover {
    background-color: #f7f8f9;
  }
  
  li:last-child {
    display: none;
  }
  button:hover{
    background-color: aquamarine;
  }
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
